/**
 *
 * ---------------------------------------------------------
 * CODESTAR FRAMEWORK RTL CSS MAP
 * ---------------------------------------------------------
 *
 * 01. Base
 *     01. 01. Header
 *     01. 02. Header Buttons
 *     01. 03. Navigation
 *     01. 04. Content
 *     01. 05. Section
 *     01. 06. Show All Settings
 *     01. 07. Search Input
 *     01. 08. Copyright
 *     01. 09. Metabox
 * 02. Fields
 *     02. 01. Field: typography
 *     02. 02. Field: checkbox, radio
 *     02. 03. Field: switcher
 *     02. 04. Field: upload
 *     02. 05. Field: group
 *     02. 06. Field: repeater
 *     02. 07. Field: help
 *     02. 08. Field: icon
 *     02. 09. Field: gallery
 *     02. 10. Field: sorter
 *     02. 11. Field: tabbed
 *     02. 12. Field: media
 *     02. 13. Field: notice
 *     02. 14. Field: border, spacing, dimensions
 *     02. 15. Field: background
 *     02. 16. Field: spinner
 *     02. 17. Field: slider
 *     02. 18. Field: button_set
 *     02. 19. Field: link_color
 *     02. 20. Field: color_group
 *     02. 21. Field: palette
 *     02. 22. Field: accordion
 *     02. 23. Field: date
 *     02. 24. Field: map
 *     02. 25. Field: sortable
 *     02. 26. Field: number
 * 03. Taxonomy
 * 04. Profile
 * 05. Nav Menu
 * 06. Modal
 * 07. Customizer
 * 08. Responsive
 * 09. Others
 *
 * ---------------------------------------------------------
 *
 */
/**
 * 01. Base
 */
.hcf-options {
  margin-left: 20px;
  margin-right: 0;
}

/**
 * 01. 01. Header
 */
.hcf-header h1 {
  float: right;
}
.hcf-header fieldset {
  float: left;
}

/**
 * 01. 02. Header Buttons
 */
.hcf-buttons {
  float: left;
  direction: ltr;
}

.hcf-header-left {
  float: right;
}

.hcf-header-right {
  float: left;
}

/**
 * 01. 03. Navigation
 */
.hcf-nav {
  float: right;
}
.hcf-nav ul {
  clear: right;
}
.hcf-nav ul li .hcf-active:after {
  right: auto;
  left: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}
.hcf-nav ul li .hcf-arrow:after {
  content: "\f053";
  right: auto;
  left: 10px;
}
.hcf-nav ul li.hcf-tab-expanded .hcf-arrow:after {
  transform: rotate(-90deg);
}
.hcf-nav ul ul li a {
  padding-right: 25px;
  padding-left: 15px;
}
.hcf-nav ul ul:before {
  left: auto;
  right: 15px;
}
.hcf-nav .hcf-tab-icon {
  margin-left: 5px;
  margin-right: 0;
}

.hcf-nav-background {
  left: auto;
  right: 0;
}

/**
 * 01. 04. Content
 */
.hcf-content {
  margin-left: 0;
  margin-right: 225px;
}

/**
 * 01. 05. Section
 */
.hcf-sections {
  float: right;
}

/**
 * 01. 06. Show all options
 */
.hcf-show-all .hcf-content {
  margin-right: 0;
  overflow: hidden;
}

.hcf-expand-all {
  float: right;
  right: auto;
  left: 40px;
  margin-right: 0;
  margin-left: 4px;
}

/**
 * 01. 07. Search Input
 */
.hcf-search {
  float: right;
}
.hcf-search input {
  margin: 0 0 0 5px;
}

/**
 * 01. 08. Copyright
 */
.hcf-copyright {
  float: right;
}

/**
 * 01. 09. Metabox
 */
.hcf-metabox {
  margin: -6px -12px -12px -12px;
}
.hcf-metabox .hcf-section-title {
  padding: 20px;
}

.hcf-section-title .hcf-section-icon {
  margin-left: 5px;
  margin-right: 0;
}

/**
 * 02. Fields
 */
.hcf-field .hcf-title {
  float: right;
}
.hcf-field .hcf-fieldset {
  float: left;
}

.hcf-pseudo-field {
  padding: 0 0 0 5px !important;
}

/**
 * 02. 01. Field: typography
 */
.hcf-field-typography select {
  margin: 0;
  width: 100%;
}
.hcf-field-typography .hcf--blocks-inputs .hcf--blocks {
  flex-direction: row-reverse;
}
.hcf-field-typography .hcf--unit {
  left: 4px;
  right: auto;
}

/**
 * 02. 02. Field: checkbox, radio
 */
.hcf-field-checkbox ul ul li,
.hcf-field-radio ul ul li {
  margin-left: 0;
  margin-right: 8px;
}
.hcf-field-checkbox ul ul li:first-child,
.hcf-field-radio ul ul li:first-child {
  margin-right: 0;
}
.hcf-field-checkbox .hcf--inline-list li,
.hcf-field-radio .hcf--inline-list li {
  margin-right: 0;
  margin-left: 15px;
}
.hcf-field-checkbox .hcf--text,
.hcf-field-radio .hcf--text {
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 03. Field: switcher
 */
.hcf-field-switcher .hcf--switcher {
  float: right;
}
.hcf-field-switcher .hcf--label {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 04. Field: upload
 */
.hcf-field-upload .hcf--remove,
.hcf-field-upload .hcf--button {
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 05. Field: group
 */
.hcf-field-group .hcf-cloneable-title {
  padding: 15px 10px 15px 65px;
}
.hcf-field-group .hcf-cloneable-helper {
  right: auto;
  left: 10px;
}

/**
 * 02. 06. Field: repeater
 */
.hcf-field-repeater .hcf-repeater-helper {
  border-left: 0;
  border-right: 1px solid #eee;
}

/**
 * 02. 07. Field: help
 */
.hcf-help {
  right: auto;
  left: 5px;
}

/**
 * 02. 08. Field: icon
 */
.hcf-field-icon .button {
  margin-right: 0;
  margin-left: 5px;
}
.hcf-field-icon .hcf-icon-preview i {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 09. Field: gallery
 */
.hcf-field-gallery ul li {
  margin-right: 0;
  margin-left: 5px;
}
.hcf-field-gallery .button {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 11. Field: tabbed
 */
.hcf-field-tabbed .hcf-tabbed-nav .hcf--icon {
  padding-right: 0;
  padding-left: 5px;
}
.hcf-field-tabbed .hcf-tabbed-nav a {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 12. Field: media
 */
.hcf-field-media .button {
  margin-left: 0;
  margin-right: 7px;
}
.hcf-field-media .hidden + .button {
  margin-right: 0;
}

/**
 * 02. 13. Field: notice
 */
.hcf-notice {
  border-left: none;
  border-right-style: solid;
  border-right-width: 4px;
}

/**
 * 02. 14. Field: border, spacing, dimensions
 */
.hcf-field-dimensions .hcf--input,
.hcf-field-dimensions .hcf-fieldset,
.hcf-field-spacing .hcf--input,
.hcf-field-spacing .hcf-fieldset,
.hcf-field-border .hcf--input,
.hcf-field-border .hcf-fieldset {
  direction: ltr;
}
.hcf-field-dimensions .hcf--inputs,
.hcf-field-dimensions .hcf--color,
.hcf-field-spacing .hcf--inputs,
.hcf-field-spacing .hcf--color,
.hcf-field-border .hcf--inputs,
.hcf-field-border .hcf--color {
  float: right;
}
.hcf-field-dimensions .hcf--color,
.hcf-field-spacing .hcf--color,
.hcf-field-border .hcf--color {
  margin-right: 4px;
  direction: rtl;
}

/**
 * 02. 15. Field: background
 */
.hcf-field-background .hcf--block {
  float: right;
}
.hcf-field-background .hcf--select,
.hcf-field-background .hcf--media {
  padding-right: 0;
}
.hcf-field-background .hcf--title {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 16. Field: spinner
 */
.hcf-field-spinner .hcf--spin {
  float: right;
  direction: ltr;
}

/**
 * 02. 17. Field: slider
 */
.hcf-field-slider .hcf-slider-ui {
  direction: ltr;
  margin-right: 0;
  margin-left: 15px;
}
.hcf-field-slider .hcf--input {
  direction: ltr;
}

/**
 * 02. 18. Field: button_set
 */
.hcf-field-button_set .hcf--button-group {
  float: right;
}

/**
 * 02. 19. Field: link_color
 */
.hcf-field-link_color .hcf--left {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 20. Field: color_group
 */
.hcf-field-color_group .hcf--left {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 21. Field: palette
 */
.hcf-field-palette .hcf--palette {
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 22. Field: accordion
 */
.hcf-field-accordion .hcf--icon {
  margin-right: 0;
  margin-left: 2px;
}

/**
 * 02. 23. Field: date
 */
.hcf-field-date .hcf--to {
  margin-left: 0;
  margin-right: 7px;
}

/**
 * 02. 24. Field: map
 */
.hcf-field-map .hcf--map-input:last-child {
  padding-left: 0;
  padding-right: 10px;
}

/**
 * 02. 25. Field: sortable
 */
.hcf-field-sortable .hcf-sortable-helper {
  border-left: none;
  border-right: 1px solid #eee;
}

/**
 * 02. 26. Field: number
 */
.hcf-field-number .hcf--wrap {
  float: right;
}
.hcf-field-number .hcf--unit {
  left: 4px;
  right: auto;
}

/**
 * 03. Taxonomy
 */
.hcf-taxonomy-add-fields {
  margin-right: 0;
  margin-left: 30px;
}
.hcf-taxonomy-add-fields .hcf-field > .hcf-fieldset > .hcf-help {
  left: -5px;
  right: auto;
}

.hcf-taxonomy-edit-fields {
  margin-right: 0;
  margin-left: 35px;
}
.hcf-taxonomy-edit-fields .hcf-field > .hcf-fieldset > .hcf-help {
  right: auto;
  left: -5px;
}

/**
 * 04. Profile
 */
.hcf-profile-options > h2 > .fa {
  padding-right: 0;
  padding-left: 7px;
}
.hcf-profile-options > .hcf-field > .hcf-fieldset > .hcf-help {
  left: -5px;
  right: auto;
}

/**
 * 05. Nav Menu
 */
.hcf-nav-menu-options > .hcf-fields {
  margin-left: 0;
  margin-right: -10px;
}

.hcf-nav-menu-title {
  padding-left: 14px;
  padding-right: 12px;
}

.hcf-nav-menu-icon {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 06. Modal
 */
.hcf-modal-content .hcf-field {
  padding: 15px 15px 15px 30px;
}

.hcf-modal-title {
  padding: 0 16px 0 36px;
}

.hcf-modal-close {
  right: auto;
  left: 0;
}

/**
 * 07. Customizer
 */
.control-section .hcf-field .hcf-fieldset {
  margin-right: 0;
}

/**
 * 08. Responsive
 */
@media only screen and (max-width: 1200px) {
  .hcf-metabox .hcf-field .hcf-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .hcf .hcf-fieldset,
  .hcf .hcf-content {
    margin-right: 0;
  }
}
/**
 * 09. Others
 */
.hcf-field .hcf--transparent-slider {
  margin-left: 0;
  margin-right: 2px;
}
.hcf-field .hcf--transparent-slider .ui-slider-handle {
  margin: 0 -11px;
}
.hcf-field .hcf--transparent-offset {
  background-position: center right;
}
.hcf-field .hcf--transparent-text {
  right: auto;
  left: 10px;
}
